.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 16px 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: transparent;
  color: rgb(21, 15, 15);
  transition: all 0.3s ease;
  z-index: 1000;
}

.navbar.scrolled {
  background: #111;
  box-shadow: 0 4px 12px rgba(0,0,0,0.3);
}

.logo {
  font-size: 20px;
  font-weight: bold;
  color: var(--primary-color);
}

.navbar nav a {
  margin-left: 20px;
  color: #0f0a0a;
  text-decoration: none;
  font-size: 14px;
  position: relative;
  transition: color 0.3s;
}

.navbar nav a:hover {
  color: var(--primary-color);
}

.navbar nav a.active {
  color: var(--primary-color);
}

.navbar nav a.active::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background: var(--primary-color);
  bottom: -6px;
  left: 0;
}
